<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <title>Registro de Empleados</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
    <body>
    <h1>Registro de Empleados</h1>
        <form>
            <label for="matricula">Matrícula:</label><br>
            <input type="text" id="matricula" name="matricula"><br>
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre"><br>
        
            <label for="comision">Porcentaje de Comisión:</label><br>
            <input type="number" id="comision" name="comision"><br>
        
            <label for="fecha_admision">Fecha de Admisión:</label><br>
            <input type="date" id="fecha_admision" name="fecha_admision"><br>
        
            <label for="fecha_vacaciones">Fecha de Vacaciones:</label><br>
            <input type="date" id="fecha_vacaciones" name="fecha_vacaciones"><br><br>
        
            <input type="submit" value="Enviar">
        </form>
    </body>
</html>